 
<#include "../include/bootstrapTableCommons.html">

<@p.body title="RECORD_LIST_TITLE" permissionModule="RECORD">
	<@p.searchPanel >
   		<@p.searchColumns>
			<@p.input title="RECORD_SN" field="sn"  permissionCode="RECORD_SN"></@p.input>
			<@p.input title="RECORD_PORDER_NO" field="porderNo"  permissionCode="RECORD_PORDER_NO"></@p.input>
			<@p.input title="RECORD_AVI_NO" field="aviNo"  permissionCode="RECORD_AVI_NO"></@p.input>
			<@p.input title="RECORD_TM_PART_ID" type="select" field="tmPartId"  permissionCode="RECORD_TM_PART_ID" options=parts ></@p.input>
			<!-- <@p.input title="RECORD_ONLINE_TIME" class="timepicker" id="onlineTime" field="onlineTime"  permissionCode="RECORD_ONLINE_TIME"></@p.input>
			<@p.input title="RECORD_OFFLINE_TIME" class="timepicker" id="offlineTime" field="offlineTime"  permissionCode="RECORD_OFFLINE_TIME"></@p.input> -->
		</@p.searchColumns>
		<@p.toolbar> 
			<@p.button title="RECORD_PART_VIEW" permissionCode="partView" iconCls="eye-open" onclick="partViews()"></@p.button>
			<@p.button title="RECORD_PARAMETER_VIEW" permissionCode="parameterView" iconCls="eye-open" onclick="parameterViews()"></@p.button>
			<@p.button title="RECORD_NC_VIEW" permissionCode="ncView" iconCls="eye-open" onclick="ncViews()"></@p.button>
			<@p.button title="RECORD_QUALITY_VIEW" permissionCode="qualityView" iconCls="eye-open" onclick="qualityViews()"></@p.button>
			<@p.button title="RECORD_SCRAP_VIEW" permissionCode="scrapView" iconCls="eye-open" onclick="scrapViews()"></@p.button>
			<@p.button title="RECORD_EXPORT_DATE" downName="RECORD_EXPORT_DATE_TITLE" permissionCode="recordExportDate" iconCls="upload-alt"  url="${baseUrl}/record/exportData.do" type="down"></@p.button>
			<@p.button title="RECORD_EXPORT_DATE_ALL" downName="RECORD_EXPORT_DATE_ALL_TITLE" permissionCode="recordExportDateAll" iconCls="upload-alt"  url="${baseUrl}/record/exportDataAll.do" type="down"></@p.button>
		</@p.toolbar>
	</@p.searchPanel>
	<@p.dataGrid url="${baseUrl}/record/list.do" singleSelect="true">
		<@p.column checkbox="true" ></@p.column>
		<@p.column title="RECORD_SN" field="sn" permissionCode="RECORD_SN"> </@p.column>
		<@p.column title="RECORD_PORDER_NO" field="porderNo" permissionCode="RECORD_PORDER_NO" ></@p.column>
		<@p.column title="RECORD_AVI_NO" field="aviNo" permissionCode="RECORD_AVI_NO" formatter="renderNullValue" > </@p.column>
		<@p.column title="RECORD_TM_PART_ID" field="part.nameCn" permissionCode="RECORD_TM_PART_ID" formatter="renderPartNoOrName"></@p.column>
		<@p.column title="RECORD_QTY" field="qty" permissionCode="RECORD_QTY" formatter="renderNullValue" ></@p.column>
		<@p.column title="RECORD_OFFLINE_TIME" field="offlineTime" permissionCode="RECORD_OFFLINE_TIME" formatter="renderNullValue" ></@p.column>
		<@p.column title="RECORD_ONLINE_TIME" field="onlineTime" permissionCode="RECORD_ONLINE_TIME" formatter="renderNullValue" ></@p.column>
		<@p.column title="RECORD_PARENT_SN" field="parentSn" permissionCode="RECORD_PARENT_SN" formatter="renderNullValue" ></@p.column>
		<@p.column title="RECORD_IN_WARE_QTY" field="inWareQty" permissionCode="RECORD_IN_WARE_QTY" formatter="renderNullValue" ></@p.column>
	</@p.dataGrid>
	<div id ="recordUloc"></div>
</@p.body>
<script type="text/javascript">
$(".clearfix").hide();
$('#dg${currentPageId}').on('click-row.bs.table', function (e,row, $element) {
    //工位信息的取得
    $.ajax({
        url: "${baseUrl}/record/uloc/listInput.do?currentPageId=recordUlocGrid&params=queryCondition[tpRecordId]="+row.id,
        cache: false,
        global:false,
        type: "GET",
        dataType: "html",
        async:true,
        data : {"tpRecordId":row.id},
        success: function(html){
            $("#recordUloc").html(html);
        }
    });
});
$(function(){
	var lang='${lang!}';
	var params={};
	if(lang=='en_US'){
		params.lang='en';
	}
	$('#onlineTime,#offlineTime').focus(function(){
		WdatePicker({dateFmt:'yyyy-MM-dd'});
	});
});
//查看物料
function partViews(){
	var rows=getSelectedRows('dg${currentPageId}');
    if(rows.length<1){
    	infoTip('<@s.m code="FRAME_NOT_CHOOSE_DATA" />');
    	return;
    }
    if(rows.length!=1){
	    infoTip('<@s.m code="SELECT_ONE_ONLY" />');
    	return;
    }
    var url = '${baseUrl}/record/uloc/part/partView.do?id='+rows[0].id;
    createChildwindow('<@s.m code='RECORD_PART_VIEW'/>', url,'','','recordPartGrid');
}
//查看参数
function parameterViews(){
	var rows=getSelectedRows('dg${currentPageId}');
    if(rows.length<1){
    	infoTip('<@s.m code="FRAME_NOT_CHOOSE_DATA" />');
    	return;
    }
    if(rows.length!=1){
	    infoTip('<@s.m code="SELECT_ONE_ONLY" />');
    	return;
    }
    var url = '${baseUrl}/record/uloc/parameter/parameterView.do?id='+rows[0].id;
    createChildwindow('<@s.m code='RECORD_PARAMETER_VIEW'/>', url,'','','recordParameterGrid');
}
//不合格查看
function ncViews(){
	var rows=getSelectedRows('dg${currentPageId}');
    if(rows.length<1){
    	infoTip('<@s.m code="FRAME_NOT_CHOOSE_DATA" />');
    	return;
    }
    if(rows.length!=1){
	    infoTip('<@s.m code="SELECT_ONE_ONLY" />');
    	return;
    }
    var url = '${baseUrl}/record/uloc/nc/ncView.do?id='+rows[0].id;
    createChildwindow('<@s.m code='RECORD_NC_VIEW'/>', url,'','','recordNcGrid');
}
//质检信息查看
function qualityViews(){
	var rows=getSelectedRows('dg${currentPageId}');
    if(rows.length<1){
    	infoTip('<@s.m code="FRAME_NOT_CHOOSE_DATA" />');
    	return;
    }
    if(rows.length!=1){
	    infoTip('<@s.m code="SELECT_ONE_ONLY" />');
    	return;
    }
    var url = '${baseUrl}/record/uloc/quality/qualityView.do?id='+rows[0].id;
    createChildwindow('<@s.m code='RECORD_QUALITY_VIEW'/>', url,'','','recordQualityGrid');
}
//报废查看
function scrapViews(){
	var rows=getSelectedRows('dg${currentPageId}');
    if(rows.length<1){
    	infoTip('<@s.m code="FRAME_NOT_CHOOSE_DATA" />');
    	return;
    }
    if(rows.length!=1){
	    infoTip('<@s.m code="SELECT_ONE_ONLY" />');
    	return;
    }
    var url = '${baseUrl}/record/uloc/scrap/scrapView.do?id='+rows[0].id;
    createChildwindow('<@s.m code='RECORD_SCRAP_VIEW'/>', url,'','','recordScrapGrid');
}
function renderNullValue(value){
	return value == null ? "" : value;
}
function renderPartNoOrName(value,record) {
	if(value && record.part.no){
		return record.part.no+ " - " + value;
	}
	return record.part.no+ " - ";
}
</script>