<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="FormPermissionMapper" >

  <select id="selectByUserAndModule" resultType="java.util.HashMap"  parameterType="java.util.HashMap" >
  	SELECT t.ID as "id",t.PERMISSION_CODE as "code",t.PERMISSION_NAME as "name",t.MODULE as "module",t.DESCRIPTION as "description" FROM TS_FORM_PERMISSION t 
  	 LEFT JOIN TR_FORM_PER_PER_SET tfpps ON t.ID=tfpps.PERMISSION_ID  WHERE tfpps.PERMISSION_SET_ID  IN
  	(SELECT tefp.PERMISSION_SET_ID FROM  TR_USER_FORM_PERMISSION tefp WHERE tefp.USER_ID= #{userId,jdbcType=INTEGER} ) 
  	AND t.MODULE= #{moduleName,jdbcType=VARCHAR}
  </select>
  <select id="selectByUser" resultType="java.util.HashMap"  parameterType="java.util.HashMap" >
     	SELECT t.ID as "id",t.PERMISSION_CODE as "code",t.PERMISSION_NAME as "name",t.MODULE as "module",t.DESCRIPTION as "description" FROM TS_FORM_PERMISSION t 
  	 LEFT JOIN TR_FORM_PER_PER_SET tfpps ON t.ID=tfpps.PERMISSION_ID  WHERE tfpps.PERMISSION_SET_ID  IN
  	(SELECT tefp.PERMISSION_SET_ID  FROM  TR_USER_FORM_PERMISSION tefp WHERE tefp.USER_ID= #{userId,jdbcType=INTEGER} ) 
  </select>
    <insert id="savePermissionRelation" parameterType="java.util.HashMap">
    	INSERT INTO TR_FORM_PER_PER_SET(PERMISSION_SET_ID,PERMISSION_ID)VALUES(#{setId,jdbcType=INTEGER},#{permissionId,jdbcType=INTEGER})
    </insert>
    <delete id="deletePermissionRelation" parameterType="java.util.HashMap">
    	DELETE FROM TR_FORM_PER_PER_SET WHERE PERMISSION_SET_ID=#{setId,jdbcType=INTEGER} AND PERMISSION_ID IN
    	  <foreach item="item" index="index" collection="permissionIds" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach> 
    </delete>
</mapper>