<!DOCTYPE html>
<head>
<title><@s.m code='INDEX_UPDATE_PASSWORD'/></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<#include "../include/commons.html">
<#include "../include/editorCommons.html"> 
<script>
function logout() {
	var url="${baseUrl}/j_spring_security_logout";
	var title = "<@s.m code='EXIT_LOGIN_CONFIRM'/>"
	
	BootstrapDialog.confirm({
          title: '<@s.m code="RE_LOGIN"/>',
          message: title,
         //type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
          closable: false, // <-- Default value is false
          draggable: true, // <-- Default value is false
          btnCancelLabel: '<@s.m code="FRAME_CLOSE"/>', // <-- Default value is 'Cancel',
          btnOKLabel: '<@s.m code="BTN_CONFIRM"/>', // <-- Default value is 'OK',
        //  btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
          callback: function(result) {
        	  if(result){
		  		  window.location = url;
        	  }
          }
	});
}
</script>
<body class="login-layout">
<div class="modal-content divrgba" style="width:50%;margin: 0 auto;">
	<div class="alert alert-block alert-success">
		<i class="icon-ok green"></i>
		<@s.m code='VALIDITY_TITLE'/>${validityDay!}
	</div>
	<div class="modal-header">
		<div class="bootstrap-dialog-header">
			<div class="bootstrap-dialog-title" id="6684521b-23cc-4b5b-a83f-998a774e993a_title">
				<h4><b><@s.m code='INDEX_UPDATE_PASSWORD'/></b></h4>
			</div>
		</div>
	</div>
	<form action="${baseUrl}/user/resetPwd.do" method="post" class="form-horizontal">
		<div class="modal-body">
			<div class="bootstrap-dialog-body">
				<div class="bootstrap-dialog-message">
					<div>
						<input name="callback" type="hidden" value="logout">
						<input class="col-xs-10 col-sm-5 form-control" id="btn_sub" type="hidden">
						<input name="id" value="" type="hidden" class="col-xs-10 col-sm-5 form-control">
						<div class="row">
							<div class="col-md-2"><label class="control-label"><@s.m code='ORIGINAL_PASSWORD'/>: </label></div>
							<div class="col-md-4">  	
								<div style="display:none"><input type="password" ></div>	
								<input  type="password" name="oldPassword"  datatype="*" errormsg="<@s.m code='USER_RESET_PASSWORD_INPUT_PASSWORD'/>" >
								<span class="Validform_checktip"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><label class="control-label"><@s.m code='NEW_PASSWORD'/>: </label></div>
							<div class="col-md-4">  			  
								<input type="password" name="newPassword" ajaxurl="${baseUrl}/user/checkValidateNewPwd.do" plugin="passwordStrength" datatype="${pwdRegExp!}" errormsg="<@s.m code='ERROR_PWD'/>${pwdRegExp}" />
								<span class="Validform_checktip"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><label class="control-label"><@s.m code='VERIFY_PASSWORD'/>: </label></div>
							<div class="col-md-4">
					  			<input type="password" recheck="newPassword" datatype="${pwdRegExp!}" errormsg="<@s.m code='USER_PASSWORD_INCONFORMITY'/>">
								<span class="Validform_checktip"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer divrgba" style="display: block;">
			<div class="bootstrap-dialog-footer">
				<div class="bootstrap-dialog-footer-buttons">
					<button class="btn btn-primary" type="submit"><@s.m code='BTN_CONFIRM'/></button>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
	$(window).resize();
});
$(window).resize(function(){
	$(".modal-content").css({ 
        top: ($(window).height() - $(".modal-content").outerHeight())/2
    });  
});
</script>
</html>